*{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    box-sizing: border-box;
}

/* NAVBAR */
header{
    background: linear-gradient(90deg, hsla(65, 77%, 63%, 1) 15%, hsla(30, 100%, 50%, 1) 79%, hsla(30, 100%, 50%, 1) 100%);
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
}

.nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.logo{
    display: flex;
    width: 300px;
    height: 300px;
    cursor: pointer;
    transition: all 0.5.s;
}

.logo-img{
    transform: scale(1.0);
}

.navLinks{
    display: flex;
    justify-content: space-around;
    width: 50%;
    text-transform: uppercase;
    font-size: 30px;
    transition: all 0.9s;
}

.navLinks :hover{
    cursor: pointer;
    transform: scale(1.2);
}

/*FOOTER */
footer{
    background: linear-gradient(90deg, hsla(65, 77%, 63%, 1) 15%, hsla(30, 100%, 50%, 1) 79%, hsla(30, 100%, 50%, 1) 100%);
    font-family: 'Fjalla One', sans-serif;
    font-size: 15px;
    margin-top: 40px;
}

.navFooter{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.logoFooter{
    display: flex;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.opcionesFooter{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    text-transform: uppercase;
}

.redes{
    cursor: pointer;
    padding: 20px;
    color: black;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* ITEM COUNT */
.botonAll{
    margin-top: 20px;
    margin-left: 20px;
    background: black;
    width: 200px;
    border-radius: 20px;
}

.botonInitial{
    margin-left: 60px;
    width: 25px;
    height: 25px;
    background-color: rgb(255, 102, 0);
    cursor: pointer;
}

.botonStock{
    margin-left: 35px;
    width: 25px;
    height: 25px;
    background-color: rgb(255, 102, 0);
    cursor: pointer;
}

.count{
    color: white;
    margin-left: 70px;
}

.botonOnAdd{
    margin-left: 35px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    background-color: rgb(255, 102, 0);
    cursor: pointer;
}

/* CARD */
.img{
    width: 200px;
    height: 200px;
}